<div class="left-menu">
    <a href="index.html" class="logo">
      <img src="img/logo.png" alt="">
    </a>
    <nav>
      <ul class="navL">
        <li class="act-li">
          <a href="javascript:void(0).html">
            <i class="icon-volume"></i><span>Аудио</span>
          </a>
          <ol class="hidden">
              <p class="active-li"><a href="">Настройки</a></p>
          </ol>
        </li>
        <li>
          <a href="javascript:void(0).html">
            <i class="icon-play-button"></i><span>Видео</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0).html">
            <i class="icon-wifi"></i><span>Сеть</span>
          </a>
          <div class="hidden">
            <p class="active-li"><a href="javascript:void(0).html">Основное</a></p>
            <p><a href="javascript:void(0).html">LAN</a></p>
            <p><a href="javascript:void(0).html">PPPoE</a></p>
            <p><a href="javascript:void(0).html">UPnP</a></p>
          </ol>
        </li>
        <li>
          <a href="javascript:void(0).html">
            <i class="icon-settings"></i><span>КМС</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0).html">
            <i class="icon-record-button"></i><span>Запись</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0).html">
            <i class="icon-lamp"></i><span>Тревога</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0).html">
            <i class="icon-calculator"></i><span>Терминал</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0).html">
            <i class="icon-wrench-tool-thin-outline-1"></i><span>Системные</span>
          </a>
        </li>
      </ul>
    </nav>
</div>
